{{- $u := .Destination -}}
{{- $p := urls.Parse $u -}}
{{- if and (not $p.IsAbs) (not (strings.HasPrefix $u "#")) (ne $p.Path "") -}}
  {{- $path := $p.Path -}}
  {{- if strings.HasSuffix $path ".md" -}}
    {{- $path = printf "%s/" (strings.TrimSuffix $path ".md") -}}
  {{- end -}}
  {{- $u = $path -}}
  {{- with $p.Fragment }}{{ $u = printf "%s#%s" $u . }}{{ end -}}
{{- end -}}
<a href="{{ $u | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $p.IsAbs }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>
